h1{
  color: #ffdcdc;
}
h4{
  color: #8ab6d6;
  font-family: 'Roboto Slab', serif;
}
h5{
  color: #8fd6e1;
  font-family: 'Maven Pro', sans-serif;
}
h2{
  color: #c67ace

}

body{
  background-color: #000000
}
.Annabeth{
  color: #fbf9fa
}
.Annabethinfo{
  color: #c3aed6
}

.Piper{
  color: #f8a1d1
}

.Piperinfo{
  color: #
}
